.ArticleCard{
    width: 325px;
    display: inline-block !important;
    margin: 15px;
    border-radius: .25rem!important;
    padding: 3rem!important;
    padding: 1.5rem!important;
    margin-bottom: 1.5rem!important;
    flex-direction: column!important;
}

.CardImage{
    max-height: 180px;
}

.CardBody{
    padding: 10px 15px 10px 15px;
}

.CardTitle{
    font-size: 16px;
    height: 45px;
    text-overflow: ellipsis;
    color: #000000!important;
}

.CardSubtitle{
    font-size: 12px;
    color: #7b858e;
}

.createDate{
    font-size: 12px;
    color: #f8f8f8;
    background-color: #7b858e;
}

.ArticleLabel{
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    margin: 15px;
}

.Link{
    box-sizing: border-box;
}